# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import yfinance as yf
import pandas as pd
import math
from IPython.display import clear_output

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis. But, here we have just taken a list of ~500 stocks in a CSV file taken at the time of building the project.

Now it's time to import these stocks to our Jupyter Notebook file.

In [2]:
stocks = pd.read_csv('sp500.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
498    YUM
499    ZBH
500   ZBRA
501   ZION
502    ZTS

[503 rows x 1 columns]

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame.

In [3]:
my_columns = ['Ticker', 'Stock Price', 'Market Capitalization', 'Number of Shares to Buy']
final_dataframe = pd.DataFrame(columns=my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Shares to Buy]
Index: []

## Looping Through The Tickers in Our List of Stocks

Here to fetch the stock data, we have used `yfinance` API

We can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

In [4]:
for stock in stocks['Ticker']:
    data = yf.Ticker(stock).info
    stock_dict = {
        'Ticker': [stock],
        'Stock Price': [data['currentPrice']],
        'Market Capitalization': [data['marketCap']],
        'Number of Shares to Buy': ['N/A']
    }
    df = pd.DataFrame(stock_dict)
    final_dataframe = pd.concat([final_dataframe, df], ignore_index=True)

    clear_output(wait=True)
    print(final_dataframe)

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A       126.30           37305991168                     N/A
1      AAL        15.84           10349253632                     N/A
2      AAP        71.01            4221111552                     N/A
3     AAPL       181.99         2862466203648                     N/A
4     ABBV       147.73          260638556160                     N/A
..     ...          ...                   ...                     ...
498    YUM       134.35           37629689856                     N/A
499    ZBH       126.32           26374100992                     N/A
500   ZBRA       251.41           12930092032                     N/A
501   ZION        37.92            5617619968                     N/A
502    ZTS       178.63           82547064832                     N/A

[503 rows x 4 columns]

In [5]:
final_dataframe

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A       126.30           37305991168                     N/A
1      AAL        15.84           10349253632                     N/A
2      AAP        71.01            4221111552                     N/A
3     AAPL       181.99         2862466203648                     N/A
4     ABBV       147.73          260638556160                     N/A
..     ...          ...                   ...                     ...
498    YUM       134.35           37629689856                     N/A
499    ZBH       126.32           26374100992                     N/A
500   ZBRA       251.41           12930092032                     N/A
501   ZION        37.92            5617619968                     N/A
502    ZTS       178.63           82547064832                     N/A

[503 rows x 4 columns]

## Calculating the Number of Shares to Buy

As we can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

In [6]:
# portfolio_size = float(input("Enter your portfolio value: "))
portfolio_size = 10000000
portfolio_size

10000000

In [7]:
position_size = float(portfolio_size) / len(final_dataframe.index)
position_size

19880.715705765408

In [8]:
for i in range(len(final_dataframe.index)):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(
        position_size / final_dataframe.loc[i, 'Stock Price'])

final_dataframe

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A       126.30           37305991168                     157
1      AAL        15.84           10349253632                    1255
2      AAP        71.01            4221111552                     279
3     AAPL       181.99         2862466203648                     109
4     ABBV       147.73          260638556160                     134
..     ...          ...                   ...                     ...
498    YUM       134.35           37629689856                     147
499    ZBH       126.32           26374100992                     157
500   ZBRA       251.41           12930092032                      79
501   ZION        37.92            5617619968                     524
502    ZTS       178.63           82547064832                     111

[503 rows x 4 columns]

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

### Initializing our XlsxWriter Object

In [9]:
writer = pd.ExcelWriter('recommended_trades.xlsx', engine='xlsxwriter')
final_dataframe.to_excel(writer, 'Recommended Trades', index=False)

## Formatting Our Excel Output

In [10]:
bg_color = '#0A0A23'
font_color = '#FFFFFF'

string_format = writer.book.add_format(
    {
        'font_color': font_color,
        'bg_color': bg_color,
        'border': 1
    }
)

dollar_format = writer.book.add_format(
    {
        'num_format': '$0.00',
        'font_color': font_color,
        'bg_color': bg_color,
        'border': 1
    }
)

integer_format = writer.book.add_format(
    {
        'num_format': '0',
        'font_color': font_color,
        'bg_color': bg_color,
        'border': 1
    }
)

In [11]:
column_formats = {
    'A': ['Ticker', string_format],
    'B': ['Stock Price', dollar_format],
    'C': ['Market Capitalization', dollar_format],
    'D': ['Number of Shares to Buy', integer_format]
}

for column in column_formats.keys():
    writer.sheets['Recommended Trades'].set_column(f'{column}:{column}', 18, column_formats[column][1])
    writer.sheets['Recommended Trades'].write(f'{column}1', column_formats[column][0], column_formats[column][1])

## Saving Our Excel Output

In [12]:
writer.close()