In [1]:
import yfinance as yf
import numpy as np
import pandas as pd
import math
from scipy import stats
import xlsxwriter
from IPython.display import clear_output

In [2]:
stocks = pd.read_csv('sp500.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
498    YUM
499    ZBH
500   ZBRA
501   ZION
502    ZTS

[503 rows x 1 columns]

In [3]:
my_columns = ['Ticker', 'Stock Price', 'P/E Ratio', 'Number of Shares to Buy']
final_dataframe = pd.DataFrame(columns=my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, P/E Ratio, Number of Shares to Buy]
Index: []

In [4]:
for stock in stocks['Ticker']:
    try:
        data = yf.Ticker(stock).info
        stock_dict = {
            'Ticker': [stock],
            'Stock Price': [data['currentPrice']],
            'P/E Ratio': [data['currentPrice'] / data['trailingEps']],
            'Number of Shares to Buy': ['N/A']
        }
        df = pd.DataFrame(stock_dict)
        final_dataframe = pd.concat([final_dataframe, df], ignore_index=True)
    except:
        data = yf.Ticker(stock).info
        stock_dict = {
            'Ticker': [stock],
            'Stock Price': [data['currentPrice']],
            'P/E Ratio': [0],
            'Number of Shares to Buy': ['N/A']
        }
        df = pd.DataFrame(stock_dict)
        final_dataframe = pd.concat([final_dataframe, df], ignore_index=True)

    clear_output(wait=True)
    print(final_dataframe)

    Ticker  Stock Price  P/E Ratio Number of Shares to Buy
0        A     122.8000          0                     N/A
1      AAL      16.1550   6.310547                     N/A
2      AAP      73.5450  10.927935                     N/A
3     AAPL     195.7100  33.227504                     N/A
4     ABBV     148.2000  34.870588                     N/A
..     ...          ...        ...                     ...
498    YUM     136.0104  31.927324                     N/A
499    ZBH     131.5600  61.476636                     N/A
500   ZBRA     254.9600  32.520408                     N/A
501   ZION      37.1200   6.345299                     N/A
502    ZTS     185.1700  41.988662                     N/A

[503 rows x 4 columns]

In [5]:
final_dataframe

    Ticker  Stock Price  P/E Ratio Number of Shares to Buy
0        A     122.8000          0                     N/A
1      AAL      16.1550   6.310547                     N/A
2      AAP      73.5450  10.927935                     N/A
3     AAPL     195.7100  33.227504                     N/A
4     ABBV     148.2000  34.870588                     N/A
..     ...          ...        ...                     ...
498    YUM     136.0104  31.927324                     N/A
499    ZBH     131.5600  61.476636                     N/A
500   ZBRA     254.9600  32.520408                     N/A
501   ZION      37.1200   6.345299                     N/A
502    ZTS     185.1700  41.988662                     N/A

[503 rows x 4 columns]

In [8]:
final_dataframe.sort_values('P/E Ratio', ascending=True, inplace=True)
final_dataframe = final_dataframe[final_dataframe['P/E Ratio'] > 0]

In [9]:
final_dataframe

    Ticker  Stock Price   P/E Ratio Number of Shares to Buy
468    VLO      128.840    3.668565                     N/A
313    MPC      134.140     4.11725                     N/A
384    PSX      111.900    4.274255                     N/A
166    EQT       41.470    4.607778                     N/A
367    PFG       79.020    4.650971                     N/A
..     ...          ...         ...                     ...
195   FSLR      203.840  522.666667                     N/A
116    CRM      223.765   604.77027                     N/A
29     AMD      117.070  650.388889                     N/A
286    LVS       59.160  845.142857                     N/A
97    CINF      108.540      5427.0                     N/A

[460 rows x 4 columns]

In [10]:
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(drop=True, inplace=True)

In [11]:
final_dataframe

   Ticker  Stock Price P/E Ratio Number of Shares to Buy
0     VLO     128.8400  3.668565                     N/A
1     MPC     134.1400   4.11725                     N/A
2     PSX     111.9000  4.274255                     N/A
3     EQT      41.4700  4.607778                     N/A
4     PFG      79.0200  4.650971                     N/A
5     MOS      40.2600  4.939877                     N/A
6    CTRA      27.5001  5.268218                     N/A
7      CF      81.1600  5.403462                     N/A
8     CMA      52.3500  5.464509                     N/A
9     DVN      53.4850  5.832606                     N/A
10     GM      38.1150  5.891036                     N/A
11   FANG     146.7500  6.079122                     N/A
12   STLD     106.8900  6.189346                     N/A
13    APA      39.8650  6.258242                     N/A
14    SYF      34.4400  6.261818                     N/A
15    MRO      25.9850   6.27657                     N/A
16    AAL      16.1550  6.310547                     N/A
17   ZION      37.1200  6.345299                     N/A
18   VTRS      10.2150  6.506369                     N/A
19    ALB     207.0200  6.635256                     N/A
20     VZ      33.3938   6.67876                     N/A
21    UAL      52.8850  6.736943                     N/A
22    CFG      31.1200  7.009009                     N/A
23    PHM      84.3250  7.015391                     N/A
24    PFE      35.8550  7.071992                     N/A
25    OXY      62.2450  7.113714                     N/A
26    XOM     106.2170  7.191401                     N/A
27    DFS     104.7400  7.268563                     N/A
28    OGN      21.7000  7.355932                     N/A
29      C      46.9550  7.441363                     N/A
30    TFC      32.5350  7.513857                     N/A
31    AIG      60.3000    7.5375                     N/A
32   HBAN      12.1550  7.841935                     N/A
33    PXD     223.2891  7.898447                     N/A
34    KEY      11.8350  7.942953                     N/A
35     IP      36.0100  7.949227                     N/A
36    NUE     173.0400  7.955862                     N/A
37    MTB     137.5400  8.029189                     N/A
38   FITB      28.6047  8.172771                     N/A
39    EOG     130.9100  8.181875                     N/A
40     RF      20.1850  8.589362                     N/A
41    LEN     126.4400  8.642515                     N/A
42    CVX     161.2700  8.707883                     N/A
43    COF     116.1550  8.846535                     N/A
44    GEN      19.2650  8.918981                     N/A
45    BAC      31.5700  9.071839                     N/A
46    DHI     127.8100  9.096797                     N/A
47     CE     125.1000  9.158126                     N/A
48    PNC     135.2600  9.277092                     N/A
49    COP     117.4100   9.34793                     N/A

In [12]:
# portfolio_size = float(input("Enter your portfolio value: "))
portfolio_size = 10000000
portfolio_size

10000000

In [14]:
position_size = float(portfolio_size) / len(final_dataframe.index)
position_size

200000.0

In [15]:
for i in range(len(final_dataframe.index)):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(
        position_size / final_dataframe.loc[i, 'Stock Price'])

final_dataframe

   Ticker  Stock Price P/E Ratio Number of Shares to Buy
0     VLO     128.8400  3.668565                    1552
1     MPC     134.1400   4.11725                    1490
2     PSX     111.9000  4.274255                    1787
3     EQT      41.4700  4.607778                    4822
4     PFG      79.0200  4.650971                    2531
5     MOS      40.2600  4.939877                    4967
6    CTRA      27.5001  5.268218                    7272
7      CF      81.1600  5.403462                    2464
8     CMA      52.3500  5.464509                    3820
9     DVN      53.4850  5.832606                    3739
10     GM      38.1150  5.891036                    5247
11   FANG     146.7500  6.079122                    1362
12   STLD     106.8900  6.189346                    1871
13    APA      39.8650  6.258242                    5016
14    SYF      34.4400  6.261818                    5807
15    MRO      25.9850   6.27657                    7696
16    AAL      16.1550  6.310547                   12380
17   ZION      37.1200  6.345299                    5387
18   VTRS      10.2150  6.506369                   19579
19    ALB     207.0200  6.635256                     966
20     VZ      33.3938   6.67876                    5989
21    UAL      52.8850  6.736943                    3781
22    CFG      31.1200  7.009009                    6426
23    PHM      84.3250  7.015391                    2371
24    PFE      35.8550  7.071992                    5578
25    OXY      62.2450  7.113714                    3213
26    XOM     106.2170  7.191401                    1882
27    DFS     104.7400  7.268563                    1909
28    OGN      21.7000  7.355932                    9216
29      C      46.9550  7.441363                    4259
30    TFC      32.5350  7.513857                    6147
31    AIG      60.3000    7.5375                    3316
32   HBAN      12.1550  7.841935                   16454
33    PXD     223.2891  7.898447                     895
34    KEY      11.8350  7.942953                   16899
35     IP      36.0100  7.949227                    5554
36    NUE     173.0400  7.955862                    1155
37    MTB     137.5400  8.029189                    1454
38   FITB      28.6047  8.172771                    6991
39    EOG     130.9100  8.181875                    1527
40     RF      20.1850  8.589362                    9908
41    LEN     126.4400  8.642515                    1581
42    CVX     161.2700  8.707883                    1240
43    COF     116.1550  8.846535                    1721
44    GEN      19.2650  8.918981                   10381
45    BAC      31.5700  9.071839                    6335
46    DHI     127.8100  9.096797                    1564
47     CE     125.1000  9.158126                    1598
48    PNC     135.2600  9.277092                    1478
49    COP     117.4100   9.34793                    1703

In [16]:
# Price-to-Earning Ratio
data = yf.Ticker('MSFT').info
peRatio = data['currentPrice'] / data['trailingEps']
peRatio

36.50270855904659

In [18]:
# Price-to-Book Ratio
data['priceToBook']

12.87035

In [19]:
# Price-to-Sales Ratio
data

{'address1': 'One Microsoft Way',
 'city': 'Redmond',
 'state': 'WA',
 'zip': '98052-6399',
 'country': 'United States',
 'phone': '425 882 8080',
 'website': 'https://www.microsoft.com',
 'industry': 'Software—Infrastructure',
 'industryDisp': 'Software—Infrastructure',
 'sector': 'Technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Microsoft Corporation develops and supports software, services, devices and solutions worldwide. The Productivity and Business Processes segment offers office, exchange, SharePoint, Microsoft Teams, office 365 Security and Compliance, Microsoft viva, and Microsoft 365 copilot; and office consumer services, such as Microsoft 365 consumer subscriptions, Office licensed on-premises, and other office services. This segment also provides LinkedIn; and dynamics business solutions, including Dynamics 365, a set of intelligent, cloud-based applications across ERP, CRM, power apps, and power automate; and on-premises ERP and CRM applications. The Intelligent Cloud segment provides server products and cloud services, such as azure and other cloud services; SQL and windows server, visual studio, system center, and related client access licenses, as well as nuance and GitHub; and enterprise services including enterprise support services, industry solutions, and nuance professional services. The More Personal Computing segment offers Windows, including windows OEM licensing and other non-volume licensing of the Windows operating system; Windows commercial comprising volume licensing of the Windows operating system, windows cloud services, and other Windows commercial offerings; patent licensing; and windows Internet of Things; and devices, such as surface, HoloLens, and PC accessories. Additionally, this segment provides gaming, which includes Xbox hardware and content, and first- and third-party content; Xbox game pass and other subscriptions, cloud gaming, advertising, third-party disc royalties, and other cloud services; and search and news advertising, which includes Bing, Microsoft News and Edge, and third-party affiliates. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online, and retail stores. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Satya  Nadella',
   'age': 55,
   'title': 'Chairman & CEO',
   'yearBorn': 1967,
   'fiscalYear': 2022,
   'totalPay': 12676750,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Bradford L. Smith LCA',
   'age': 63,
   'title': 'Pres & Vice Chairman',
   'yearBorn': 1959,
   'fiscalYear': 2022,
   'totalPay': 4655274,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Amy E. Hood',
   'age': 50,
   'title': 'Exec. VP & CFO',
   'yearBorn': 1972,
   'fiscalYear': 2022,
   'totalPay': 4637915,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Judson  Althoff',
   'age': 49,
   'title': 'Exec. VP & Chief Commercial Officer',
   'yearBorn': 1973,
   'fiscalYear': 2022,
   'totalPay': 4428268,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher David Young',
   'age': 50,
   'title': 'Exec. VP of Bus. Devel., Strategy & Ventures',
   'yearBorn': 1972,
   'fiscalYear': 2022,
   'totalPay': 4588876,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Alice L. Jolla',
   'age': 55,
   'title': 'Corp. VP & Chief Accounting Officer',
   'yearBorn': 1967,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James Kevin Scott',
   'age': 50,
   'title': 'Exec. VP of AI & CTO',
   'yearBorn': 1972,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Brett  Iversen',
   'title': 'Gen. Mang. of Investor Relations',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Frank X. Shaw',
   'title': 'Corp. VP for Corp. Communications',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher C. Capossela',
   'age': 52,
   'title': 'Exec. VP & Chief Marketing Officer',
   'yearBorn': 1970,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 5,
 'boardRisk': 5,
 'compensationRisk': 2,
 'shareHolderRightsRisk': 2,
 'overallRisk': 2,
 'governanceEpochDate': 1690761600,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 335.92,
 'open': 335.19,
 'dayLow': 333.71,
 'dayHigh': 338.54,
 'regularMarketPreviousClose': 335.92,
 'regularMarketOpen': 335.19,
 'regularMarketDayLow': 333.71,
 'regularMarketDayHigh': 338.54,
 'dividendRate': 2.72,
 'dividendYield': 0.0081,
 'exDividendDate': 1692144000,
 'payoutRatio': 0.2748,
 'fiveYearAvgDividendYield': 1.06,
 'trailingPE': 36.502712,
 'forwardPE': 26.760921,
 'volume': 11084415,
 'regularMarketVolume': 11084415,
 'averageVolume': 28932579,
 'averageVolume10days': 42797230,
 'averageDailyVolume10Day': 42797230,
 'bid': 337.88,
 'ask': 337.94,
 'bidSize': 1200,
 'askSize': 1000,
 'marketCap': 2505165242368,
 'fiftyTwoWeekLow': 213.43,
 'fiftyTwoWeekHigh': 366.78,
 'fiftyDayAverage': 335.3458,
 'twoHundredDayAverage': 277.62335,
 'trailingAnnualDividendRate': 0.0,
 'trailingAnnualDividendYield': 0.0,
 'currency': 'USD',
 'profitMargins': 0.0,
 'sharesOutstanding': 7435489792,
 'sharesShort': 42497800,
 'sharesShortPriorMonth': 44270818,
 'sharesShortPreviousMonthDate': 1686787200,
 'dateShortInterest': 1689292800,
 'sharesPercentSharesOut': 0.0057,
 'heldPercentInsiders': 0.00052,
 'heldPercentInstitutions': 0.73212,
 'shortRatio': 1.66,
 'shortPercentOfFloat': 0.0057,
 'impliedSharesOutstanding': 0,
 'bookValue': 26.178,
 'priceToBook': 12.87035,
 'lastFiscalYearEnd': 1688083200,
 'nextFiscalYearEnd': 1719705600,
 'mostRecentQuarter': 1688083200,
 'trailingEps': 9.23,
 'forwardEps': 12.59,
 'pegRatio': 2.13,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1045526400,
 '52WeekChange': 22.232735,
 'SandP52WeekChange': 12.166882,
 'lastDividendValue': 0.68,
 'lastDividendDate': 1684281600,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'underlyingSymbol': 'MSFT',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'firstTradeDateEpochUtc': 511108200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'b004b3ec-de24-385e-b2c1-923f10d3fb62',
 'messageBoardId': 'finmb_21835',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 336.92,
 'targetHighPrice': 433.4,
 'targetLowPrice': 232.0,
 'targetMeanPrice': 385.03,
 'targetMedianPrice': 400.0,
 'recommendationMean': 1.8,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 43,
 'grossMargins': 0.0,
 'ebitdaMargins': 0.0,
 'operatingMargins': 0.0,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.4673}