# Quantitative Momentum Strategy

"Momentum investing" means investing in the stocks that have increased in price the most.

For this project, we're going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.


## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
! pip install yfinance numpy pandas scipy XlsxWriter ipython

Requirement already satisfied: yfinance in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (0.2.31)
Requirement already satisfied: numpy in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (1.26.0)
Requirement already satisfied: pandas in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (2.1.1)
Requirement already satisfied: scipy in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (1.11.3)
Requirement already satisfied: XlsxWriter in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (3.1.6)
Requirement already satisfied: ipython in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (8.16.1)
Requirement already satisfied: requests>=2.31 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from yfinance) (2.3.8)
Requirement already satisfied: peewee>=3.16.2 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from yfinance) (3.16.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from yfinance) (1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: backcall in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from ipython) (0.2.0)
Requirement already satisfied: decorator in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from ipython) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from ipython) (0.19.1)
Requirement already satisfied: matplotlib-inline in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from ipython) (0.1.6)
Requirement already satisfied: pickleshare in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from ipython) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from ipython) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from ipython) (2.16.1)
Requirement already satisfied: stack-data in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from ipython) (0.6.3)
Requirement already satisfied: traitlets>=5 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from ipython) (5.11.2)
Requirement already satisfied: exceptiongroup in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from ipython) (1.1.3)
Requirement already satisfied: pexpect>4.3 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from ipython) (4.8.0)
Requirement already satisfied: soupsieve>1.2 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from jedi>=0.16->ipython) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from pexpect>4.3->ipython) (0.7.0)
Requirement already satisfied: wcwidth in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython) (0.2.8)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from requests>=2.31->yfinance) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from requests>=2.31->yfinance) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from requests>=2.31->yfinance) (2023.7.22)
Requirement already satisfied: executing>=1.2.0 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from stack-data->ipython) (2.0.0)
Requirement already satisfied: asttokens>=2.1.0 in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from stack-data->ipython) (2.4.0)
Requirement already satisfied: pure-eval in /home/soumya/PyCharmProjects/quantitative_investment_strategy/venv/lib/python3.10/site-packages (from stack-data->ipython) (0.2.2)

In [2]:
import yfinance as yf
import numpy as np
import pandas as pd
import math
from scipy.stats import percentileofscore as score
from statistics import mean
import xlsxwriter
from IPython.display import clear_output

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis. But, here we have just taken a list of ~500 stocks in a CSV file taken at the time of building the project.

Now it's time to import these stocks to our Jupyter Notebook file.

In [3]:
stocks = pd.read_csv('sp500.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
498    YUM
499    ZBH
500   ZBRA
501   ZION
502    ZTS

[503 rows x 1 columns]

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame.

In [4]:
my_columns = ['Ticker', 'Stock Price', '1 Year Return', 'Number of Shares to Buy']
final_dataframe = pd.DataFrame(columns=my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, 1 Year Return, Number of Shares to Buy]
Index: []

## Looping Through The Tickers in Our List of Stocks

Here to fetch the stock data, we have used `yfinance` API

We can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

In [5]:
for stock in stocks['Ticker']:
    data = yf.Ticker(stock).info
    try:
        yr1Return = data['52WeekChange']
    except:
        yr1Return = np.NaN
    stock_dict = {
        'Ticker': [stock],
        'Stock Price': [data['currentPrice']],
        '1 Year Return': [yr1Return],
        'Number of Shares to Buy': ['N/A']
    }
    df = pd.DataFrame(stock_dict)
    final_dataframe = pd.concat([final_dataframe, df], ignore_index=True)

    clear_output(wait=True)
    print(final_dataframe)

    Ticker  Stock Price  1 Year Return Number of Shares to Buy
0        A     109.8100      -0.155167                     N/A
1      AAL      12.8150       0.000000                     N/A
2      AAP      51.7686      -0.682815                     N/A
3     AAPL     173.0400       0.194114                     N/A
4     ABBV     148.1557       0.052748                     N/A
..     ...          ...            ...                     ...
498    YUM     122.6650       0.121776                     N/A
499    ZBH     108.8300      -0.008228                     N/A
500   ZBRA     221.6300      -0.176244                     N/A
501   ZION      33.5600      -0.364053                     N/A
502    ZTS     170.7800       0.120585                     N/A

[503 rows x 4 columns]

In [6]:
final_dataframe

    Ticker  Stock Price  1 Year Return Number of Shares to Buy
0        A     109.8100      -0.155167                     N/A
1      AAL      12.8150       0.000000                     N/A
2      AAP      51.7686      -0.682815                     N/A
3     AAPL     173.0400       0.194114                     N/A
4     ABBV     148.1557       0.052748                     N/A
..     ...          ...            ...                     ...
498    YUM     122.6650       0.121776                     N/A
499    ZBH     108.8300      -0.008228                     N/A
500   ZBRA     221.6300      -0.176244                     N/A
501   ZION      33.5600      -0.364053                     N/A
502    ZTS     170.7800       0.120585                     N/A

[503 rows x 4 columns]

In [7]:
final_dataframe[final_dataframe.isnull().any(axis=1)]

   Ticker  Stock Price  1 Year Return Number of Shares to Buy
80    CAT       262.13            NaN                     N/A

Filling the `NULL` cells of the `1 Year Return` column with mean value

In [8]:
final_dataframe['1 Year Return'].fillna(final_dataframe['1 Year Return'].mean(), inplace=True)

In [9]:
final_dataframe[final_dataframe.isnull().any(axis=1)]

Empty DataFrame
Columns: [Ticker, Stock Price, 1 Year Return, Number of Shares to Buy]
Index: []

In [10]:
final_dataframe

    Ticker  Stock Price  1 Year Return Number of Shares to Buy
0        A     109.8100      -0.155167                     N/A
1      AAL      12.8150       0.000000                     N/A
2      AAP      51.7686      -0.682815                     N/A
3     AAPL     173.0400       0.194114                     N/A
4     ABBV     148.1557       0.052748                     N/A
..     ...          ...            ...                     ...
498    YUM     122.6650       0.121776                     N/A
499    ZBH     108.8300      -0.008228                     N/A
500   ZBRA     221.6300      -0.176244                     N/A
501   ZION      33.5600      -0.364053                     N/A
502    ZTS     170.7800       0.120585                     N/A

[503 rows x 4 columns]

## Removing Low-Momentum Stocks

The investment strategy that we're building seeks to identify the 50 highest-momentum stocks in the S&P 500.

Because of this, the next thing we need to do is remove all the stocks in our DataFrame that fall below this momentum threshold. We'll sort the DataFrame by the stocks' one-year price return, and drop all stocks outside the top 50.

In [11]:
final_dataframe.sort_values('1 Year Return', ascending=False, inplace=True)

In [12]:
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(drop=True, inplace=True)

In [13]:
final_dataframe

   Ticker  Stock Price  1 Year Return Number of Shares to Buy
0    NVDA     441.5850       2.354227                     N/A
1    META     300.3750       1.197311                     N/A
2      GE     108.0300       1.105661                     N/A
3    FICO     855.5300       1.080252                     N/A
4     RCL      89.7650       1.029986                     N/A
5     CCL      13.2550       0.875358                     N/A
6    BKNG    3010.5400       0.781843                     N/A
7     PHM      72.2900       0.753332                     N/A
8    ADBE     510.2150       0.737274                     N/A
9    AVGO     816.8700       0.718060                     N/A
10   ACGL      81.5800       0.676250                     N/A
11    FDX     258.7575       0.675688                     N/A
12   ORCL     106.7000       0.639816                     N/A
13    LLY     538.5300       0.596216                     N/A
14   LRCX     621.7850       0.590493                     N/A
15   AMAT     138.2250       0.580799                     N/A
16   NFLX     368.1480       0.570286                     N/A
17   CPRT      43.5500       0.543593                     N/A
18   AXON     194.0000       0.539149                     N/A
19    AMD     101.0750       0.533825                     N/A
20   ANET     183.6200       0.526087                     N/A
21    PNR      63.2100       0.522338                     N/A
22    TDG     827.2110       0.502102                     N/A
23     PH     384.8000       0.473920                     N/A
24    ETN     204.6200       0.469568                     N/A
25   ISRG     285.1350       0.468285                     N/A
26   CARR      53.5150       0.467616                     N/A
27    WST     367.4300       0.458597                     N/A
28   ODFL     402.9100       0.454506                     N/A
29   PCAR      85.6960       0.449331                     N/A
30  CMCSA      43.1900       0.446589                     N/A
31    URI     419.7600       0.444751                     N/A
32   SNPS     454.4300       0.432982                     N/A
33     EG     388.9100       0.414895                     N/A
34    DHI     103.9675       0.414228                     N/A
35     BA     186.9550       0.412481                     N/A
36   KLAC     456.9400       0.407829                     N/A
37    BKR      33.3950       0.395956                     N/A
38   CDNS     231.2800       0.395701                     N/A
39     DD      73.3600       0.385483                     N/A
40   STLD     106.3600       0.381385                     N/A
41    FLT     250.3700       0.379061                     N/A
42    NVR    5979.4900       0.377722                     N/A
43    HWM      46.1031       0.377108                     N/A
44    GWW     694.6600       0.371357                     N/A
45   WELL      82.0400       0.366299                     N/A
46   VRSK     238.0750       0.365644                     N/A
47    LEN     108.7125       0.359406                     N/A
48    LIN     372.0600       0.357901                     N/A
49   PANW     235.7900       0.353019                     N/A

## Calculating the Number of Shares to Buy

As we can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

In [14]:
# portfolio_size = float(input("Enter your portfolio value: "))
portfolio_size = 10000000
portfolio_size

10000000

In [15]:
position_size = float(portfolio_size) / len(final_dataframe.index)
position_size

200000.0

In [16]:
for i in range(len(final_dataframe.index)):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(
        position_size / final_dataframe.loc[i, 'Stock Price'])

final_dataframe

   Ticker  Stock Price  1 Year Return Number of Shares to Buy
0    NVDA     441.5850       2.354227                     452
1    META     300.3750       1.197311                     665
2      GE     108.0300       1.105661                    1851
3    FICO     855.5300       1.080252                     233
4     RCL      89.7650       1.029986                    2228
5     CCL      13.2550       0.875358                   15088
6    BKNG    3010.5400       0.781843                      66
7     PHM      72.2900       0.753332                    2766
8    ADBE     510.2150       0.737274                     391
9    AVGO     816.8700       0.718060                     244
10   ACGL      81.5800       0.676250                    2451
11    FDX     258.7575       0.675688                     772
12   ORCL     106.7000       0.639816                    1874
13    LLY     538.5300       0.596216                     371
14   LRCX     621.7850       0.590493                     321
15   AMAT     138.2250       0.580799                    1446
16   NFLX     368.1480       0.570286                     543
17   CPRT      43.5500       0.543593                    4592
18   AXON     194.0000       0.539149                    1030
19    AMD     101.0750       0.533825                    1978
20   ANET     183.6200       0.526087                    1089
21    PNR      63.2100       0.522338                    3164
22    TDG     827.2110       0.502102                     241
23     PH     384.8000       0.473920                     519
24    ETN     204.6200       0.469568                     977
25   ISRG     285.1350       0.468285                     701
26   CARR      53.5150       0.467616                    3737
27    WST     367.4300       0.458597                     544
28   ODFL     402.9100       0.454506                     496
29   PCAR      85.6960       0.449331                    2333
30  CMCSA      43.1900       0.446589                    4630
31    URI     419.7600       0.444751                     476
32   SNPS     454.4300       0.432982                     440
33     EG     388.9100       0.414895                     514
34    DHI     103.9675       0.414228                    1923
35     BA     186.9550       0.412481                    1069
36   KLAC     456.9400       0.407829                     437
37    BKR      33.3950       0.395956                    5988
38   CDNS     231.2800       0.395701                     864
39     DD      73.3600       0.385483                    2726
40   STLD     106.3600       0.381385                    1880
41    FLT     250.3700       0.379061                     798
42    NVR    5979.4900       0.377722                      33
43    HWM      46.1031       0.377108                    4338
44    GWW     694.6600       0.371357                     287
45   WELL      82.0400       0.366299                    2437
46   VRSK     238.0750       0.365644                     840
47    LEN     108.7125       0.359406                    1839
48    LIN     372.0600       0.357901                     537
49   PANW     235.7900       0.353019                     848

## Building a Better (and More Realistic) Momentum Strategy

Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:

* High-quality momentum stocks show "slow and steady" outperformance over long periods of time
* Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.

The reason why high-quality momentum stocks are preferred is that low-quality momentum can often be caused by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest percentiles of: 

* 1-month price returns
* 3-month price returns
* 6-month price returns
* 1-year price returns

Here `hqm` stands for `high-quality momentum`.

In [17]:
hqm_columns = [
    'Ticker',
    'Stock Price',
    'Number of Shares to Buy',
    '1 Year Return',
    '1 Year Return Percentile',
    '6 Months Return',
    '6 Months Return Percentile',
    '3 Months Return',
    '3 Months Return Percentile',
    '1 Month Return',
    '1 Month Return Percentile',
    'HQM Score'
]

hqm_dataframe = pd.DataFrame(columns=hqm_columns)
hqm_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Number of Shares to Buy, 1 Year Return, 1 Year Return Percentile, 6 Months Return, 6 Months Return Percentile, 3 Months Return, 3 Months Return Percentile, 1 Month Return, 1 Month Return Percentile, HQM Score]
Index: []

In [18]:
for stock in stocks['Ticker']:
    data = yf.Ticker(stock).info
    try:
        yr1Return = data['52WeekChange']
    except:
        yr1Return = np.NaN
    try:
        hist = yf.Ticker(stock).history(period='6mo')
        mnth6Return = ((hist['Close'][-1] - hist['Close'][0]) / hist['Close'][0]) * 100
    except:
        mnth6Return = np.NaN
    try:
        hist = yf.Ticker(stock).history(period='3mo')
        mnth3Return = ((hist['Close'][-1] - hist['Close'][0]) / hist['Close'][0]) * 100
    except:
        mnth3Return = np.NaN
    try:
        hist = yf.Ticker(stock).history(period='1mo')
        mnth1Return = ((hist['Close'][-1] - hist['Close'][0]) / hist['Close'][0]) * 100
    except:
        mnth1Return = np.NaN
    
    stock_dict = {
        'Ticker': [stock],
        'Stock Price': [data['currentPrice']],
        'Number of Shares to Buy': ['N/A'],
        '1 Year Return': [yr1Return],
        '1 Year Return Percentile': ['N/A'],
        '6 Months Return': [mnth6Return],
        '6 Months Return Percentile': ['N/A'],
        '3 Months Return': [mnth3Return],
        '3 Months Return Percentile': ['N/A'],
        '1 Month Return': [mnth1Return],
        '1 Month Return Percentile': ['N/A'],
        'HQM Score': ['N/A']
    }
    df = pd.DataFrame(stock_dict)
    hqm_dataframe = pd.concat([hqm_dataframe, df], ignore_index=True)

    clear_output(wait=True)
    print(hqm_dataframe['Ticker'])

0         A
1       AAL
2       AAP
3      AAPL
4      ABBV
       ...
498     YUM
499     ZBH
500    ZBRA
501    ZION
502     ZTS
Name: Ticker, Length: 503, dtype: object

In [19]:
hqm_dataframe

,Ticker,Stock Price,Number of Shares to Buy,1 Year Return,1 Year Return Percentile,6 Months Return,6 Months Return Percentile,3 Months Return,3 Months Return Percentile,1 Month Return,1 Month Return Percentile,HQM Score
0,A,109.5100,N/A,-0.155167,N/A,-20.385006,N/A,-8.175068,N/A,-7.579558,N/A,N/A
1,AAL,12.8173,N/A,0.000000,N/A,-7.722826,N/A,-30.036572,N/A,-10.368534,N/A,N/A
2,AAP,51.6900,N/A,-0.682815,N/A,-56.307647,N/A,-27.103296,N/A,-23.490230,N/A,N/A
3,AAPL,172.9499,N/A,0.194114,N/A,5.900766,N/A,-9.489604,N/A,-8.829780,N/A,N/A
4,ABBV,148.0850,N/A,0.052748,N/A,-6.029803,N/A,8.797194,N/A,1.358659,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
498,YUM,122.7500,N/A,0.121776,N/A,-6.093253,N/A,-9.757733,N/A,-4.608325,N/A,N/A
499,ZBH,108.7750,N/A,-0.008228,N/A,-15.084781,N/A,-23.425674,N/A,-7.468621,N/A,N/A
500,ZBRA,220.5400,N/A,-0.176244,N/A,-26.523406,N/A,-24.691826,N/A,-19.290030,N/A,N/A
501,ZION,33.4900,N/A,-0.364053,N/A,20.410872,N/A,21.168674,N/A,-7.306945,N/A,N/A
502,ZTS,170.7200,N/A,0.120585,N/A,2.274326,N/A,1.030678,N/A,-10.350256,N/A,N/A

In [20]:
hqm_dataframe[hqm_dataframe.isnull().any(axis=1)]

,Ticker,Stock Price,Number of Shares to Buy,1 Year Return,1 Year Return Percentile,6 Months Return,6 Months Return Percentile,3 Months Return,3 Months Return Percentile,1 Month Return,1 Month Return Percentile,HQM Score
80,CAT,262.32,N/A,NaN,N/A,24.127767,N/A,7.674336,N/A,-6.856513,N/A,N/A

## Dealing With Missing Data in Our DataFrame

Our DataFrame contains some missing data which we have to fill with `mean` values.

In [21]:
hqm_dataframe['1 Year Return'].fillna(hqm_dataframe['1 Year Return'].mean(), inplace=True)

In [22]:
hqm_dataframe[hqm_dataframe.isnull().any(axis=1)]

Empty DataFrame
Columns: [Ticker, Stock Price, Number of Shares to Buy, 1 Year Return, 1 Year Return Percentile, 6 Months Return, 6 Months Return Percentile, 3 Months Return, 3 Months Return Percentile, 1 Month Return, 1 Month Return Percentile, HQM Score]
Index: []

In [23]:
hqm_dataframe

,Ticker,Stock Price,Number of Shares to Buy,1 Year Return,1 Year Return Percentile,6 Months Return,6 Months Return Percentile,3 Months Return,3 Months Return Percentile,1 Month Return,1 Month Return Percentile,HQM Score
0,A,109.5100,N/A,-0.155167,N/A,-20.385006,N/A,-8.175068,N/A,-7.579558,N/A,N/A
1,AAL,12.8173,N/A,0.000000,N/A,-7.722826,N/A,-30.036572,N/A,-10.368534,N/A,N/A
2,AAP,51.6900,N/A,-0.682815,N/A,-56.307647,N/A,-27.103296,N/A,-23.490230,N/A,N/A
3,AAPL,172.9499,N/A,0.194114,N/A,5.900766,N/A,-9.489604,N/A,-8.829780,N/A,N/A
4,ABBV,148.0850,N/A,0.052748,N/A,-6.029803,N/A,8.797194,N/A,1.358659,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
498,YUM,122.7500,N/A,0.121776,N/A,-6.093253,N/A,-9.757733,N/A,-4.608325,N/A,N/A
499,ZBH,108.7750,N/A,-0.008228,N/A,-15.084781,N/A,-23.425674,N/A,-7.468621,N/A,N/A
500,ZBRA,220.5400,N/A,-0.176244,N/A,-26.523406,N/A,-24.691826,N/A,-19.290030,N/A,N/A
501,ZION,33.4900,N/A,-0.364053,N/A,20.410872,N/A,21.168674,N/A,-7.306945,N/A,N/A
502,ZTS,170.7200,N/A,0.120585,N/A,2.274326,N/A,1.030678,N/A,-10.350256,N/A,N/A

## Calculating Momentum Percentiles

We now need to calculate momentum percentile scores for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* `One-Year Price Return`
* `Six-Month Price Return`
* `Three-Month Price Return`
* `One-Month Price Return`

In [24]:
time_periods = [
    '1 Year',
    '6 Months',
    '3 Months',
    '1 Month'
]

for row in hqm_dataframe.index:
    for time_period in time_periods:
        change_col = f'{time_period} Return'
        percentile_col = f'{time_period} Return Percentile'
        hqm_dataframe.loc[row, f'{time_period} Return Percentile'] = score(hqm_dataframe[change_col],
                                                                           hqm_dataframe.loc[row, change_col]) / 100

In [25]:
hqm_dataframe

,Ticker,Stock Price,Number of Shares to Buy,1 Year Return,1 Year Return Percentile,6 Months Return,6 Months Return Percentile,3 Months Return,3 Months Return Percentile,1 Month Return,1 Month Return Percentile,HQM Score
0,A,109.5100,N/A,-0.155167,0.178926,-20.385006,0.131213,-8.175068,0.485089,-7.579558,0.389662,N/A
1,AAL,12.8173,N/A,0.000000,0.427435,-7.722826,0.369781,-30.036572,0.027833,-10.368534,0.214712,N/A
2,AAP,51.6900,N/A,-0.682815,0.001988,-56.307647,0.003976,-27.103296,0.04175,-23.490230,0.013917,N/A
3,AAPL,172.9499,N/A,0.194114,0.729622,5.900766,0.67992,-9.489604,0.427435,-8.829780,0.296223,N/A
4,ABBV,148.0850,N/A,0.052748,0.522863,-6.029803,0.407555,8.797194,0.902584,1.358659,0.926441,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
498,YUM,122.7500,N/A,0.121776,0.614314,-6.093253,0.405567,-9.757733,0.413519,-4.608325,0.648111,N/A
499,ZBH,108.7750,N/A,-0.008228,0.411531,-15.084781,0.190855,-23.425674,0.063618,-7.468621,0.399602,N/A
500,ZBRA,220.5400,N/A,-0.176244,0.149105,-26.523406,0.075547,-24.691826,0.057654,-19.290030,0.031809,N/A
501,ZION,33.4900,N/A,-0.364053,0.043738,20.410872,0.914513,21.168674,0.994036,-7.306945,0.425447,N/A
502,ZTS,170.7200,N/A,0.120585,0.612326,2.274326,0.602386,1.030678,0.753479,-10.350256,0.2167,N/A

## Calculating the HQM Score

We'll now calculate our `HQM Score`, which is the high-quality momentum score that we'll use to filter for stocks in this investing strategy.

The `HQM Score` will be the arithmetic mean of the 4 momentum percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the `mean` function from Python's built-in `statistics` module.

In [26]:
for row in hqm_dataframe.index:
    momentum_percentiles = []
    for time_period in time_periods:
        momentum_percentiles.append(hqm_dataframe.loc[row, f'{time_period} Return Percentile'])
    hqm_dataframe.loc[row, 'HQM Score'] = mean(momentum_percentiles)

In [27]:
hqm_dataframe

,Ticker,Stock Price,Number of Shares to Buy,1 Year Return,1 Year Return Percentile,6 Months Return,6 Months Return Percentile,3 Months Return,3 Months Return Percentile,1 Month Return,1 Month Return Percentile,HQM Score
0,A,109.5100,N/A,-0.155167,0.178926,-20.385006,0.131213,-8.175068,0.485089,-7.579558,0.389662,0.296223
1,AAL,12.8173,N/A,0.000000,0.427435,-7.722826,0.369781,-30.036572,0.027833,-10.368534,0.214712,0.25994
2,AAP,51.6900,N/A,-0.682815,0.001988,-56.307647,0.003976,-27.103296,0.04175,-23.490230,0.013917,0.015408
3,AAPL,172.9499,N/A,0.194114,0.729622,5.900766,0.67992,-9.489604,0.427435,-8.829780,0.296223,0.5333
4,ABBV,148.0850,N/A,0.052748,0.522863,-6.029803,0.407555,8.797194,0.902584,1.358659,0.926441,0.689861
...,...,...,...,...,...,...,...,...,...,...,...,...
498,YUM,122.7500,N/A,0.121776,0.614314,-6.093253,0.405567,-9.757733,0.413519,-4.608325,0.648111,0.520378
499,ZBH,108.7750,N/A,-0.008228,0.411531,-15.084781,0.190855,-23.425674,0.063618,-7.468621,0.399602,0.266402
500,ZBRA,220.5400,N/A,-0.176244,0.149105,-26.523406,0.075547,-24.691826,0.057654,-19.290030,0.031809,0.078529
501,ZION,33.4900,N/A,-0.364053,0.043738,20.410872,0.914513,21.168674,0.994036,-7.306945,0.425447,0.594433
502,ZTS,170.7200,N/A,0.120585,0.612326,2.274326,0.602386,1.030678,0.753479,-10.350256,0.2167,0.546223

## Selecting the 50 Best Momentum Stocks

As before, we can identify the 50 best momentum stocks in our universe by sorting the DataFrame on the `HQM Score` column and dropping all but the top 50 entries.

In [28]:
hqm_dataframe.sort_values('HQM Score', ascending=False, inplace=True)

In [29]:
hqm_dataframe = hqm_dataframe[:50]
hqm_dataframe.reset_index(drop=True, inplace=True)

In [30]:
hqm_dataframe

,Ticker,Stock Price,Number of Shares to Buy,1 Year Return,1 Year Return Percentile,6 Months Return,6 Months Return Percentile,3 Months Return,3 Months Return Percentile,1 Month Return,1 Month Return Percentile,HQM Score
0,ACGL,81.4200,N/A,0.676250,0.980119,18.705354,0.902584,10.594940,0.930417,7.329288,0.992048,0.951292
1,CHTR,431.6500,N/A,0.336132,0.894632,22.238899,0.936382,17.407861,0.984095,5.540479,0.974155,0.947316
2,CBOE,158.9511,N/A,0.314596,0.866799,17.203290,0.88668,15.123551,0.972167,6.678588,0.986083,0.927932
3,AKAM,105.9100,N/A,0.261724,0.811133,36.816947,0.988072,17.390825,0.982107,1.300814,0.920477,0.925447
4,PCAR,85.6600,N/A,0.449331,0.942346,25.918307,0.95825,4.439398,0.829026,4.898359,0.972167,0.925447
5,META,299.9852,N/A,1.197311,0.998012,41.852656,0.994036,1.909160,0.785288,-0.053308,0.884692,0.915507
6,CEG,107.1750,N/A,0.230413,0.769384,40.973082,0.992048,16.628658,0.980119,1.060820,0.912525,0.913519
7,AFL,76.7600,N/A,0.286270,0.84493,20.523122,0.916501,10.421233,0.928429,3.450142,0.954274,0.911034
8,WDC,46.0500,N/A,0.222072,0.757455,31.346256,0.980119,22.278278,0.996024,0.567806,0.904573,0.909543
9,PKG,152.6300,N/A,0.322723,0.882704,10.681784,0.779324,18.368266,0.99006,5.768447,0.978131,0.907555
10,GOOG,134.7700,N/A,0.332844,0.890656,28.413538,0.974155,9.899704,0.922465,-1.419064,0.838966,0.906561
11,GOOGL,133.7650,N/A,0.333465,0.892644,28.041541,0.970179,9.864472,0.920477,-1.480452,0.83499,0.904573
12,EG,387.5100,N/A,0.414895,0.934394,7.754901,0.723658,14.626674,0.966203,7.644361,0.994036,0.904573
13,LLY,533.4800,N/A,0.596216,0.974155,47.972115,0.998012,14.799990,0.970179,-4.426812,0.66004,0.900596
14,MCK,444.8500,N/A,0.259740,0.809145,19.551960,0.908549,6.379123,0.878728,9.264854,0.996024,0.898111
15,VRSK,237.9700,N/A,0.365644,0.908549,24.659803,0.954274,5.419132,0.860835,-0.960082,0.862823,0.89662
16,WRK,36.2100,N/A,0.136392,0.638171,22.718885,0.93837,28.515867,1.0,12.979719,1.0,0.894135
17,FDX,258.7000,N/A,0.675688,0.978131,13.733969,0.83499,4.721372,0.836978,1.334319,0.924453,0.893638
18,WELL,82.2200,N/A,0.366299,0.910537,18.284566,0.89662,2.019683,0.787276,1.681920,0.934394,0.882207
19,FICO,854.6000,N/A,1.080252,0.994036,26.304274,0.962227,7.908129,0.894632,-4.269029,0.675944,0.88171
20,J,134.9500,N/A,0.186237,0.72167,20.582121,0.922465,11.380292,0.944334,1.741554,0.936382,0.881213
21,AJG,229.4600,N/A,0.280067,0.831014,18.107982,0.892644,6.509862,0.880716,1.172841,0.918489,0.880716
22,TT,199.8200,N/A,0.322095,0.880716,18.174752,0.894632,5.680778,0.866799,-0.359024,0.880716,0.880716
23,ATVI,93.8100,N/A,0.269809,0.82505,11.058801,0.787276,14.422589,0.964215,1.934151,0.93837,0.878728
24,SNPS,454.7000,N/A,0.432982,0.936382,20.176559,0.912525,5.074646,0.848907,-2.602548,0.785288,0.870775
25,MU,68.8200,N/A,0.246979,0.793241,21.148358,0.928429,11.101347,0.942346,-2.105567,0.805169,0.867296
26,CMCSA,43.2000,N/A,0.446589,0.940358,15.477501,0.87674,4.829890,0.842942,-2.415985,0.789264,0.862326
27,BKNG,2999.7100,N/A,0.781843,0.988072,14.685344,0.860835,12.180627,0.952286,-4.608793,0.646123,0.861829
28,AIG,60.1500,N/A,0.169425,0.701789,21.221725,0.930417,4.850400,0.84493,3.257964,0.952286,0.857356
29,CARR,53.5000,N/A,0.467616,0.94831,28.144766,0.972167,8.651499,0.900596,-5.175467,0.604374,0.856362
30,ODFL,401.7800,N/A,0.454506,0.944334,23.909190,0.946322,9.361229,0.910537,-5.114065,0.614314,0.853877
31,MAR,192.9200,N/A,0.352259,0.898608,19.345358,0.904573,6.198229,0.872763,-4.034224,0.695825,0.842942
32,COST,565.5000,N/A,0.185102,0.719682,14.205579,0.850895,4.700992,0.83499,3.812902,0.962227,0.841948
33,MPC,142.5050,N/A,0.315502,0.868787,8.662345,0.743539,23.245122,0.998012,-3.074414,0.755467,0.841451
34,L,62.9700,N/A,0.199616,0.735586,12.239133,0.811133,5.636159,0.862823,2.008751,0.940358,0.837475
35,INTC,35.6750,N/A,0.321928,0.878728,9.503377,0.767396,10.130255,0.926441,-2.819395,0.775348,0.836978
36,TXT,75.3700,N/A,0.215232,0.751491,11.081018,0.789264,12.270948,0.956262,-1.976418,0.817097,0.828529
37,AMGN,264.7900,N/A,0.149390,0.66004,6.348029,0.687873,18.175757,0.986083,4.243933,0.964215,0.824553
38,GE,108.1950,N/A,1.105661,0.996024,14.963312,0.868787,-0.273428,0.729622,-4.081444,0.693837,0.822068
39,ROP,487.3100,N/A,0.283491,0.838966,11.570367,0.801193,2.314350,0.795229,-1.232294,0.850895,0.821571
40,MMC,191.4100,N/A,0.214849,0.749503,14.218369,0.852883,3.271138,0.811133,-0.803277,0.868787,0.820577
41,AIZ,146.3750,N/A,-0.036484,0.355865,24.556708,0.950298,18.425814,0.992048,5.823447,0.980119,0.819583
42,BR,177.8350,N/A,0.233842,0.77336,27.355823,0.968191,8.938889,0.904573,-4.846071,0.632207,0.819583
43,HAL,38.4400,N/A,0.283797,0.840954,17.345161,0.888668,16.250348,0.978131,-5.552831,0.564612,0.818091
44,STE,219.2550,N/A,0.288410,0.848907,14.563271,0.858847,0.379117,0.745527,-1.960738,0.819085,0.818091
45,FDS,447.7200,N/A,0.066905,0.548708,11.898259,0.805169,13.475984,0.95825,3.514291,0.956262,0.817097
46,CB,210.9100,N/A,0.099831,0.586481,8.549770,0.739563,10.808820,0.93837,5.857151,0.984095,0.812127
47,CME,204.5300,N/A,0.157074,0.683897,5.992797,0.681909,11.852424,0.94831,1.535915,0.930417,0.811133
48,TJX,87.8600,N/A,0.352589,0.900596,13.498894,0.829026,4.131322,0.823062,-4.103910,0.691849,0.811133
49,CAH,89.5591,N/A,0.280386,0.833002,14.029207,0.838966,-4.809359,0.60835,3.646183,0.95825,0.809642

## Calculating the Number of Shares to Buy

As we can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

In [31]:
# portfolio_size = float(input("Enter your portfolio value: "))
portfolio_size = 10000000
portfolio_size

10000000

In [32]:
position_size = portfolio_size / len(final_dataframe.index)
position_size

200000.0

In [33]:
for i in range(len(hqm_dataframe.index)):
    hqm_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / hqm_dataframe.loc[i, 'Stock Price'])

hqm_dataframe

,Ticker,Stock Price,Number of Shares to Buy,1 Year Return,1 Year Return Percentile,6 Months Return,6 Months Return Percentile,3 Months Return,3 Months Return Percentile,1 Month Return,1 Month Return Percentile,HQM Score
0,ACGL,81.4200,2456,0.676250,0.980119,18.705354,0.902584,10.594940,0.930417,7.329288,0.992048,0.951292
1,CHTR,431.6500,463,0.336132,0.894632,22.238899,0.936382,17.407861,0.984095,5.540479,0.974155,0.947316
2,CBOE,158.9511,1258,0.314596,0.866799,17.203290,0.88668,15.123551,0.972167,6.678588,0.986083,0.927932
3,AKAM,105.9100,1888,0.261724,0.811133,36.816947,0.988072,17.390825,0.982107,1.300814,0.920477,0.925447
4,PCAR,85.6600,2334,0.449331,0.942346,25.918307,0.95825,4.439398,0.829026,4.898359,0.972167,0.925447
5,META,299.9852,666,1.197311,0.998012,41.852656,0.994036,1.909160,0.785288,-0.053308,0.884692,0.915507
6,CEG,107.1750,1866,0.230413,0.769384,40.973082,0.992048,16.628658,0.980119,1.060820,0.912525,0.913519
7,AFL,76.7600,2605,0.286270,0.84493,20.523122,0.916501,10.421233,0.928429,3.450142,0.954274,0.911034
8,WDC,46.0500,4343,0.222072,0.757455,31.346256,0.980119,22.278278,0.996024,0.567806,0.904573,0.909543
9,PKG,152.6300,1310,0.322723,0.882704,10.681784,0.779324,18.368266,0.99006,5.768447,0.978131,0.907555
10,GOOG,134.7700,1484,0.332844,0.890656,28.413538,0.974155,9.899704,0.922465,-1.419064,0.838966,0.906561
11,GOOGL,133.7650,1495,0.333465,0.892644,28.041541,0.970179,9.864472,0.920477,-1.480452,0.83499,0.904573
12,EG,387.5100,516,0.414895,0.934394,7.754901,0.723658,14.626674,0.966203,7.644361,0.994036,0.904573
13,LLY,533.4800,374,0.596216,0.974155,47.972115,0.998012,14.799990,0.970179,-4.426812,0.66004,0.900596
14,MCK,444.8500,449,0.259740,0.809145,19.551960,0.908549,6.379123,0.878728,9.264854,0.996024,0.898111
15,VRSK,237.9700,840,0.365644,0.908549,24.659803,0.954274,5.419132,0.860835,-0.960082,0.862823,0.89662
16,WRK,36.2100,5523,0.136392,0.638171,22.718885,0.93837,28.515867,1.0,12.979719,1.0,0.894135
17,FDX,258.7000,773,0.675688,0.978131,13.733969,0.83499,4.721372,0.836978,1.334319,0.924453,0.893638
18,WELL,82.2200,2432,0.366299,0.910537,18.284566,0.89662,2.019683,0.787276,1.681920,0.934394,0.882207
19,FICO,854.6000,234,1.080252,0.994036,26.304274,0.962227,7.908129,0.894632,-4.269029,0.675944,0.88171
20,J,134.9500,1482,0.186237,0.72167,20.582121,0.922465,11.380292,0.944334,1.741554,0.936382,0.881213
21,AJG,229.4600,871,0.280067,0.831014,18.107982,0.892644,6.509862,0.880716,1.172841,0.918489,0.880716
22,TT,199.8200,1000,0.322095,0.880716,18.174752,0.894632,5.680778,0.866799,-0.359024,0.880716,0.880716
23,ATVI,93.8100,2131,0.269809,0.82505,11.058801,0.787276,14.422589,0.964215,1.934151,0.93837,0.878728
24,SNPS,454.7000,439,0.432982,0.936382,20.176559,0.912525,5.074646,0.848907,-2.602548,0.785288,0.870775
25,MU,68.8200,2906,0.246979,0.793241,21.148358,0.928429,11.101347,0.942346,-2.105567,0.805169,0.867296
26,CMCSA,43.2000,4629,0.446589,0.940358,15.477501,0.87674,4.829890,0.842942,-2.415985,0.789264,0.862326
27,BKNG,2999.7100,66,0.781843,0.988072,14.685344,0.860835,12.180627,0.952286,-4.608793,0.646123,0.861829
28,AIG,60.1500,3325,0.169425,0.701789,21.221725,0.930417,4.850400,0.84493,3.257964,0.952286,0.857356
29,CARR,53.5000,3738,0.467616,0.94831,28.144766,0.972167,8.651499,0.900596,-5.175467,0.604374,0.856362
30,ODFL,401.7800,497,0.454506,0.944334,23.909190,0.946322,9.361229,0.910537,-5.114065,0.614314,0.853877
31,MAR,192.9200,1036,0.352259,0.898608,19.345358,0.904573,6.198229,0.872763,-4.034224,0.695825,0.842942
32,COST,565.5000,353,0.185102,0.719682,14.205579,0.850895,4.700992,0.83499,3.812902,0.962227,0.841948
33,MPC,142.5050,1403,0.315502,0.868787,8.662345,0.743539,23.245122,0.998012,-3.074414,0.755467,0.841451
34,L,62.9700,3176,0.199616,0.735586,12.239133,0.811133,5.636159,0.862823,2.008751,0.940358,0.837475
35,INTC,35.6750,5606,0.321928,0.878728,9.503377,0.767396,10.130255,0.926441,-2.819395,0.775348,0.836978
36,TXT,75.3700,2653,0.215232,0.751491,11.081018,0.789264,12.270948,0.956262,-1.976418,0.817097,0.828529
37,AMGN,264.7900,755,0.149390,0.66004,6.348029,0.687873,18.175757,0.986083,4.243933,0.964215,0.824553
38,GE,108.1950,1848,1.105661,0.996024,14.963312,0.868787,-0.273428,0.729622,-4.081444,0.693837,0.822068
39,ROP,487.3100,410,0.283491,0.838966,11.570367,0.801193,2.314350,0.795229,-1.232294,0.850895,0.821571
40,MMC,191.4100,1044,0.214849,0.749503,14.218369,0.852883,3.271138,0.811133,-0.803277,0.868787,0.820577
41,AIZ,146.3750,1366,-0.036484,0.355865,24.556708,0.950298,18.425814,0.992048,5.823447,0.980119,0.819583
42,BR,177.8350,1124,0.233842,0.77336,27.355823,0.968191,8.938889,0.904573,-4.846071,0.632207,0.819583
43,HAL,38.4400,5202,0.283797,0.840954,17.345161,0.888668,16.250348,0.978131,-5.552831,0.564612,0.818091
44,STE,219.2550,912,0.288410,0.848907,14.563271,0.858847,0.379117,0.745527,-1.960738,0.819085,0.818091
45,FDS,447.7200,446,0.066905,0.548708,11.898259,0.805169,13.475984,0.95825,3.514291,0.956262,0.817097
46,CB,210.9100,948,0.099831,0.586481,8.549770,0.739563,10.808820,0.93837,5.857151,0.984095,0.812127
47,CME,204.5300,977,0.157074,0.683897,5.992797,0.681909,11.852424,0.94831,1.535915,0.930417,0.811133
48,TJX,87.8600,2276,0.352589,0.900596,13.498894,0.829026,4.131322,0.823062,-4.103910,0.691849,0.811133
49,CAH,89.5591,2233,0.280386,0.833002,14.029207,0.838966,-4.809359,0.60835,3.646183,0.95825,0.809642

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

### Initializing our XlsxWriter Object

In [34]:
writer = pd.ExcelWriter('momentum_strategy.xlsx', engine='xlsxwriter')
hqm_dataframe.to_excel(writer, sheet_name='Momentum Strategy', index=False)

## Formatting Our Excel Output

In [35]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
    {
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

dollar_template = writer.book.add_format(
    {
        'num_format': '$0.00',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

integer_template = writer.book.add_format(
    {
        'num_format': '0',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

percent_template = writer.book.add_format(
    {
        'num_format': '0.0%',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

In [36]:
column_formats = {
    'A': ['Ticker', string_template],
    'B': ['Price', dollar_template],
    'C': ['Number of Shares to Buy', integer_template],
    'D': ['One-Year Price Return', percent_template],
    'E': ['One-Year Return Percentile', percent_template],
    'F': ['Six-Month Price Return', percent_template],
    'G': ['Six-Month Return Percentile', percent_template],
    'H': ['Three-Month Price Return', percent_template],
    'I': ['Three-Month Return Percentile', percent_template],
    'J': ['One-Month Price Return', percent_template],
    'K': ['One-Month Return Percentile', percent_template],
    'L': ['HQM Score', integer_template]
}

for column in column_formats.keys():
    writer.sheets['Momentum Strategy'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Momentum Strategy'].write(f'{column}1', column_formats[column][0], string_template)

## Saving Our Excel Output

In [37]:
writer.close()